
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1501729504577'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1501729504577#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1501729504577') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1501729504577') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1501729504577#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantouarrowup:before { content: "\e60b"; }

.icon-huo:before { content: "\e608"; }

.icon-fanhui:before { content: "\e759"; }

.icon-zan1:before { content: "\e646"; }

.icon-caidan:before { content: "\e606"; }

.icon-xiangxiajiantou:before { content: "\e610"; }

.icon-pengyouquan:before { content: "\e633"; }

.icon-xinlangweibo:before { content: "\e622"; }

.icon-shoucang:before { content: "\e6a2"; }

.icon-hot:before { content: "\e617"; }

.icon-liuyan_tianchong:before { content: "\e618"; }

.icon-xin:before { content: "\e8df"; }

.icon-icon:before { content: "\e60f"; }

.icon-fenxiang:before { content: "\e64b"; }

.icon-changpian:before { content: "\e607"; }

.icon-prev:before { content: "\e600"; }

.icon-play:before { content: "\e643"; }

.icon-zanting:before { content: "\e601"; }

.icon-feiji:before { content: "\e604"; }

.icon-prev1:before { content: "\e602"; }

.icon-dashang:before { content: "\e9e2"; }

.icon-weixin:before { content: "\e6ab"; }

.icon-zan:before { content: "\e611"; }

.icon-sanjiao:before { content: "\e66f"; }

.icon-shijian:before { content: "\e628"; }

.icon-wujiaoxings:before { content: "\e61f"; }

.icon-ting2:before { content: "\e603"; }

.icon-second:before { content: "\e657"; }

